@import "tailwindcss";

.mat-stroked-button-custom {
    --mdc-outlined-button-outline-color: #2563eb;
}

.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: #fff;
    --mat-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: #fff;
    --mat-snackbar-supporting-text-color: #fff;
}
